<!DOCTYPE html>
<html>
  <head>
    <title>Bang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/favicon_1.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body > 
  <div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h4 class="modal-title">Create A New Account</h4>
                   
                    <div class="alert alert-success alert_box" id="alert_box_success">Only Three Steps To Login</div>
      			</div>
      	<div class="modal-body">
            	<form role="form">
 			<div class="form-group">
    			<label for="exampleInputEmail1">Email address</label>
   			   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
 		   </div>
 		   <div class="form-group">
   				 <label for="exampleInputPassword1">Password</label>
    			 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  		   </div>
           <div class="form-group">
   				 <label for="exampleInputPassword2">Conform Password</label>
    			 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  		   </div>
           		</form>
      		</div>
            <div class="progress progress-striped active">
             <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
          <span class="sr-only">0% Complete</span>
          </div>
		   </div>

      		<div class="modal-footer">
            	<button type="button" class="btn btn-primary" id="post_story">Next</button>
                <button type="button" id="cancel_btn" class="btn btn-default" data-dismiss="modal">Cancel</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
    <div class="modal fade" id="nextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h4 class="modal-title">My Alma Mater</h4>
                   
                    <div class="alert alert-success alert_box" id="alert_box_success">Only Two Steps To Go</div>
      			</div>
      	<div class="modal-body">
            	<div class="form-group">
 				  <input type="text" class="form-control" placeholder="College Name">
				</div>
                <div class="form-group">
 				  <input type="text" class="form-control" placeholder="Year">
				</div>
                <div class="form-group">
 				  <input type="text" class="form-control" placeholder="Branch">
				</div>
                <div class="form-group">
 				  <input type="text" class="form-control" placeholder="City">
				</div>
      		</div>
            <div class="progress progress-striped active">
             <div class="progress-bar"  role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:33%">
          <span class="sr-only">33% Complete</span>
          </div>
		   </div>
      		<div class="modal-footer">
            	<button type="button" class="btn btn-primary" id="next_button">Next</button>
                <button type="button" id="cancel_btn" class="btn btn-default" data-dismiss="modal">Cancel</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
    <div class="modal fade" id="finalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h4 class="modal-title">Build Your TimeLine</h4>
                   
                    <div class="alert alert-success alert_box" id="alert_box_success">Only Two Steps To Go</div>
      			</div>
      	<div class="modal-body">
        <div class="col-xs-12 col-sm-8 col-md-8 ">
        <textarea class="form-control" rows="8"></textarea>

        </div>
         <div class="col-xs-12 col-sm-4 col-md-4" style="text-align:centre">
         <span class="label label-default">#oneTwoThree</span><br><br>
         <span class="label label-default">#fourFive</span><br><br>
         <span class="label label-default">#sixSeven</span><br><br>
         <span class="label label-default">#eightNineTen</span><br><br>
         <span class="label label-default">#eleven</span><br><br>
         </div>
       </div>
      		<div class="modal-footer">
            <div class="progress progress-striped active">
             <div class="progress-bar"  role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width:66%">
         		 <span class="sr-only">66% Complete</span>
         	 </div>
		    </div>
            <div class="col-xs-12 col-sm-4 col-md-4 ">
            <h5 style="text-align:left">Privacy Policy</h5>

            <div class="checkbox">
    		<label>
    		  <input type="checkbox"> I Agree
   		   </label>
           
  			</div>
            </div>
             <div class="col-xs-12 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
            	<button type="button" class="btn btn-primary" id="enter_button">Enter Now</button>
                </div>
                
      		</div>
            
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
     
  
 	<div class="container" >
      <div class="row" >
      	<div class="col-xs-12 col-sm-8 col-md-8 ">
      		<ul class="breadcrumb " role="navigation">
  				<li><a href="#">Home</a></li>
  				<li><a href="#">Jecrc</a></li>
  				<li><a href="#">Ist Year</a></li>
               	<li class="active">CS</li>
			</ul>
        </div>
      	<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top:6px; padding-left:10px">
        	<a class="col-md-1  glyphicon glyphicon glyphicon-edit " style="margin-top:2.8px" href="#"> </a>
      			<a class="col-md-6 text-primary" style="font-size:120%;line-height:1.3;padding-left:5px;" href="#">Create a Post</a>
            <a class="col-md-1  glyphicon glyphicon-off" href="#" style="margin-top:2.8px"></a>
            <a class="col-md-3 text-primary" style="font-size:120%;line-height:1.3;padding-left:5px;" id="signin">Sign In</a>
            <a class="col-md-1 glyphicon glyphicon-tasks menu_icon" id="menu_icon" href="#" style="margin-top:2.8px"></a>
            <div class="list-group list_menu" id="list_menu"><!--DIV FOR LIST MENU START HERE-->
  				<a href="#" class="list-group-item active">Ravi Gupta</a>
  				<a href="#" class="list-group-item">My Subscription</a>
  				<a href="#" class="list-group-item">Notifications<span class="badge">14</span></a>
  				<a href="#" class="list-group-item">Saved Post</a>
                <a href="#" class="list-group-item">My Posts</a>
                <a href="#" class="list-group-item">Settings</a>
                
			</div><!--DIV FOR LIST MENU ENDS HERE-->
             
      	</div>   
        
       
      	<div class="col-xs-12 col-sm-9 col-md-9"> <!--DIV FOR NEWS FEED  START HERE--> 
        	<div> <!--first div group-->    
        	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead ">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
                
        	</div>
            
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
           
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            <div>
            	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down " ><!--DIv label for first group-->
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down" ><!--DIv label for first group-->
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 margin-down" ><!--DIv label for first group-->
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
            </div>
             </div><!--Ist div group closed-->
            
           
            
          
    	<div><!--2nd DIV GROUP--> 
        	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
                
        	</div>
            
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
           
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            <div>
            	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down " >
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down" >
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 margin-down" >
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
            </div>
             </div><!--2nd div group closed-->
            
          <div><!--3rd DIV GROUP--> 
        	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
                
        	</div>
            
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
           
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            <div>
            	<div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down ">
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1  margin-down" >
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 margin-down" >
             		<a class="label label-default "  href="#">JECRC</a>
                    <a class="label label-default"  href="#">CS</a>
                    <a class="label label-default"  href="#">B1-Batch</a>
            	</div>
            </div>
             </div><!--3rd div group closed-->
             
             <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 tag_box news_box">
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
        	</div>
            
            
        </div><!--DIV FOR NEWS FEED  ENDS HERE--> 
        

      <div class="col-xs-12 col-sm-3 col-md-3 "> <!--Div for RIGHT SIDE ROW  start here -->
        	<!--div for trending start here-->
        	<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:35px">
        		<h5 class=" custom_heading ">Trending Tags</h5>
          		<a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#successTags</a>
          		<a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#livechat</a>
          		<a class="recent_tags lead  block  glyphicon glyphicon-fire trending_tags" href="#">#androidgames</a>
          		<a class="recent_tags lead block glyphicon glyphicon-fire trending_tags" href="#">#globalwarming</a>
          		<a class="recent_tags lead block glyphicon glyphicon-fire trending_tags" href="#">#socialmedia</a>
          		<a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#aquarius</a>
        	</div><!-- div for trending tags ends here-->
           </div><!--Block ENDS for RIGHT SIDE BLOCK-->
           
           
            <div class="col-xs-12 col-sm-3 col-md-3"> 
           	 <img src="../static/most_rated_pin.png" class="most_rated_pin">
             <div class="col-xs-12 col-sm-12  col-md-12 tag_box most_rated_home_box"  style="padding-top:5px;padding-bottom:5px">
            	<h5 class="center_text custom_heading">Most Rated</h5>
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
            </div> 
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3"> 
           	 <img src="../static/most_rated_pin.png" class="most_rated_pin">
             <div class="col-xs-12 col-sm-12  col-md-12 tag_box "  style="padding-top:5px;padding-bottom:5px">
            	<h5 class="center_text custom_heading">Most Viewed</h5>
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
            </div> 
            </div>
        </div><!-- BLOCK ENDS FOR TAGS HERE-->
      
      
      
    </div> <!--Div ends for container here -->
    <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-bottom nav_bottom" role="navigation"><!--Navigation for footer-->
    	 <a class="navbar-brand logo col-xs-12 col-sm-2 col-md-2" href="#">HashBang</a>
         <form class="navbar-form navbar-left col-xs-12 col-sm-6 col-md-6 " role="search">
      		<div class="form-group input-group ">
        		<input type="text" class="form-control search" placeholder="#Tags">
      		</div>
            <button type="submit" class="btn btn-default submit_search_btn ">Go</button>	
    	</form>
    	
         
	</nav>
    </div><!-- /nav div -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/dist/js/jquery-1.7.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/dist/js/myscript.js"></script>
  </body>
</html>
