<!DOCTYPE html>
<html>
  <head>
    <title>Bang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/favicon_1.png" />
    <link href="../static/dist/css/bootstrap-wysihtml5.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body >      
  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h4 class="modal-title">Post a Story</h4>
                    <div class="alert alert-warning alert_box">This is a warning..</div>
                    <div class="alert alert-success alert_box" id="alert_box_success">This is a success box</div>
      			</div>
      		<div class="modal-body">
            	
            	<input class="form-control input-lg heading_edit_box" type="text" placeholder="Heading">
        		<textarea class="form-control text_box"  id="textbox" rows="15" placeholder="Content Area"></textarea>
      		</div>
      		<div class="modal-footer">
            	<button type="button" class="btn btn-primary" id="post_story">Post</button>
        		<button type="button" class="btn btn-primary">Post Later</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

  
  
  
  <!--MODAL ENDS HERE-->
 	<div class="container" >
      <div class="row" >
      	<div class="col-xs-12 col-sm-8 col-md-8 ">
      		<ul class="breadcrumb " role="navigation">
  				<li><a href="#">Home</a></li>
  				<li><a href="#">Jecrc</a></li>
  				<li><a href="#">Ist Year</a></li>
               	<li class="active">CS</li>
			</ul>
        </div>
      	<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top:6px; padding-left:10px">
        	<div id="post">
        		<a class="col-md-1  glyphicon glyphicon glyphicon-edit " style="margin-top:2.8px" href="#"> </a>
      			<a class="col-md-6 text-primary" style="font-size:120%;line-height:1.3;padding-left:5px;" href="#" data-toggle="modal">Create a Post</a>
             </div>
            <a class="col-md-1  glyphicon glyphicon-off" href="#" style="margin-top:2.8px"></a>
            <span class="col-md-3 text-primary" style="font-size:120%;line-height:1.3;padding-left:5px;">Sign Out</span>
            <a class="col-md-1 glyphicon glyphicon-tasks menu_icon" id="menu_icon" href="#" style="margin-top:2.8px"></a>
            <div class="list-group list_menu" id="list_menu"><!--DIV FOR LIST MENU START HERE-->
  				<a href="#" class="list-group-item active">Ravi Gupta</a>
  				<a href="#" class="list-group-item">My Subscription</a>
  				<a href="#" class="list-group-item">Notifications<span class="badge">14</span></a>
  				<a href="#" class="list-group-item">Saved Post</a>
                <a href="#" class="list-group-item">My Posts</a>
                <a href="#" class="list-group-item">Settings</a>
                
			</div><!--DIV FOR LIST MENU ENDS HERE-->
             
      	</div>   
        
      	<div class="col-xs-12 col-sm-9 col-md-9">       
        	<h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_story_head"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
             <div class="col-xs-1 col-sm-1 col-md-1 margin-up-like right_zero_padding_like"> <!--Div for like option start here-->
            	<a class="glyphicon glyphicon-thumbs-up like_align_centre " href="#"></a>
                <h5 class="text-muted">500</h5>
                <a class="glyphicon glyphicon-thumbs-down " href="#"></a>
				
            </div>
             <div class="col-xs-11 col-sm-11 col-md-11 left_zero_padding_main_content"><!--Div for main content start here-->
        	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main_story" >
          		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 						enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <br /><br />
          
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt "<br /><br />
             "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br /><br >
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

        	</p>
           
        	<div class="row margin-down">
          	<div  class="col-xs-12 col-sm-12 col-md-9  margin-down " style="padding-left:28px;">
            	<a class="label label-default" href="#">JECRC</a>
            	<a class="label label-default" href="#">CS</a>
            	<a class="label label-default" href="#">B1-Batch</a>
          	</div>
            
          	<div class="col-xs-12 col-sm-12 col-md-3  margin-down " >
            	<span class="label label-default  ">1000224820 Views</span>
          	</div>
         </div><!--Div for main content ends here-->
        </div>
        
        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs"></div>
      </div><!--Div ends for left main row here -->


      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> <!--Div for RIGHT SIDE ROW  start here -->
        <div class="row"> <!-- DIVISION FOR TAGS START HERE -->
        	<img src="../static/most_rated_pin.png" class="pin_2"/>
        	<div class="col-xs-12 col-sm-12 col-md-12 tag_box"  style="margin-bottom:25px; padding-bottom:10px"><!--DIV for PROMOTED TAGS START HERE-->
            	
            	<h5 class="custom_heading center_text" style="padding-top:13px">Promoted Tags</h5>
                <a class="promoted_tags lead" href="#">#jaiHind</a>
                <a class="promoted_tags lead" href="#">#successTags</a>
                <a class="promoted_tags lead" href="#">#livechat</a>
                <a class="promoted_tags lead active_tag" href="#">#androidgames</a>
                <a class="promoted_tags lead" href="#">#globalwarming</a>
                <a class="promoted_tags lead" href="#">#socialmedia</a>
                <a class="promoted_tags lead" href="#">#aquarius</a>
                <a class="promoted_tags lead" href="#">#xfactor</a>
                <a class="promoted_tags lead" href="#">#photography</a>
            </div><!--DIV FOR PROMOTED TAGS ENDS HERE-->
            
            <img src="../static/most_rated_pin.png" class="pin_2"/>
            <div class="col-xs-12 col-sm-12 col-md-12 tag_box" style="margin-bottom:25px; padding-bottom:10px"><!--DIV FOR RECENT TAGS START HERE-->
           		<h5 class="custom_heading center_text" style="padding-top:13px">Recent Tags</h5>
                <a class="recent_tags "  href="#">#Bakar</a>
                <a class="lead recent_tags " href="#">#PrimaryTags</a>
                <a class="recent_tags lead " href="#">#SuccessTags</a>
                <a class="recent_tags lead" href="#">#successTags</a>
                <a class="recent_tags lead"  href="#">#chutiya</a>
                <a class="recent_tags lead" href="#">#jaiHind</a>
                <a class="recent_tags lead" href="#">#successTags</a>
                <a class="recent_tags lead" href="#">#livechat</a>
                <a class="recent_tags lead " href="#">#androidgames</a>
                <a class="recent_tags lead" href="#">#globalwarming</a>
                <a class="recent_tags lead" href="#">#socialmedia</a>
                <a class="recent_tags lead" href="#">#aquarius</a>
             
            </div><!--BLOCK ENDS FOR RECENT TAGS-->
        </div><!-- BLOCK ENDS FOR TAGS HERE-->
      </div><!--Block ENDS for RIGHT SIDE BLOCK-->
      <div class="row"><!-- BLOCK FOR TRENDING AND MOST RATED AND MOST VIEWED-->
      	<div class="col-xs-12 col-sm-12 col-md-8"> <!--Div for most viewed and most rated block start here-->
			<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
            	<h5 class="center_text custom_heading">Most Viewed</h5>
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
            	<h5 class="center_text custom_heading">Most Rated</h5>
                <h6 class="custom_lead">Heading#1</h6>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...
                </p>
            </div>
        </div><!--Div for most viewed and most rated ends here-->
        
		<div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1 "><!--div for trending start here-->
        <h5 class=" custom_heading ">Trending Tags</h5>
          <a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#successTags</a>
          <a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#livechat</a>
          <a class="recent_tags lead  block  glyphicon glyphicon-fire trending_tags" href="#">#androidgames</a>
          <a class="recent_tags lead block glyphicon glyphicon-fire trending_tags" href="#">#globalwarming</a>
          <a class="recent_tags lead block glyphicon glyphicon-fire trending_tags" href="#">#socialmedia</a>
          <a class="recent_tags lead block  glyphicon glyphicon-fire trending_tags" href="#">#aquarius</a>
              
        </div><!-- div for trending tags ends here-->      
          
      </div><!--/div for main block of most rated and most viewed and trending tags-->
      
      
    </div> <!--Div ends for container here -->
    <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-bottom nav_bottom" role="navigation"><!--Navigation for footer-->
    	 <a class="navbar-brand logo col-xs-12 col-sm-2 col-md-2" href="#">HashBang</a>
         <form class="navbar-form navbar-left col-xs-12 col-sm-6 col-md-6 " role="search">
      		<div class="form-group input-group ">
        		<input type="text" class="form-control search" placeholder="#Tags">
      		</div>
            <button type="submit" class="btn btn-inverse submit_search_btn " style="background-color:#333;">Go</button>	
    	</form>
    	<div class="input-group col-xs-12 col-sm-4 col-md-4  navbar-form navbar-right  hash_comment">
  			<span class="input-group-addon hash_comment_group hash_tag_corner">#</span>
  			<input type="text" class="form-control hash_comment_group hash_tag_submit" placeholder="Tag">
		</div>
         
	</nav>
    </div><!-- /nav div -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/dist/js/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="../static/dist/js/bootstrap-wysihtml5.js" ></script>
    <script type="text/javascript" src="../static/dist/js/myscript.js"></script>
  </body>
</html>
