<!DOCTYPE html>
<html>
  <head>
    <title>HashBang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body >      
 	<div class="container">
      <div class="row">
      	<div class="col-xs-12 col-sm-8 col-md-8 ">
      		<ul class="breadcrumb" role="navigation">
  				<li><a href="#">Home</a></li>
  				<li><a href="#">Jecrc</a></li>
  				<li><a href="#">Ist Year</a></li>
               	<li class="active">CS</li>
			</ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" style="margin-top:6px; padding-left:10px;">
         	<span class="glyphicon glyphicon glyphicon-edit " > </span>
            <span style="color:black;font-size:120%;line-height:1.3;">Create a Post</span>
        </div>   
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color:black;font-size:170%;line-height:1.3;margin-bottom:20px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lead" >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row margin-down">
          <div  class="col-xs-12 col-sm-12 col-md-9 col-lg-9 margin-down " style="padding-left:28px;">
            <span class="label label-default">JECRC</span>
            <span class="label label-default">CS</span>
            <span class="label label-default">B1-Batch</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3  col-lg-3 margin-down " >
            <span class="label label-default ">1000224820 Views</span>
          </div>
        </div>

        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs"></div>

        <!-- RELATED STORIES -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 stick-note">
            <h5>Related Stories</h5>
            <h5> Story Title - 1</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla........
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 stick-note">
            <h5>Related Stories</h5>
            <h5> Story Title - 1</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla........
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 stick-note">
            <h5>Related Stories</h5>
            <h5> Story Title - 1</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla........
            </p>
          </div>
        </div><!--End of related stories div-->
      </div><!--Div ends for left main row here -->

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <!--Div for RIGHT SIDE ROW  start here -->
        <div> <!-- DIVISION FOR POPULAR STORIES START HERE -->
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            	<h5>Popular Stories</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5> Story Title - 13</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita..........
              </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5> Story Title - 13</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita..........
              </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h5> Story Title - 13</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita..........
              </p>
            </div>
         


          </div><!--BLOCK ENDS FOR POPULAR STORIES -->
        </div><!--Block ENds for RIGHT SIDE BLOCK-->
    </div> <!--Div ends for container here -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/dist/js/myscript.js"></script>
  </body>
</html>
