@charset "utf-8";
/*A CSS Document Designed by Robins Gupta and Ravi Gupta */
/*All Rights Reserved © 2014 */
/* Normal resolution 1280 X 768 */

@font-face{
	font-family:Whiteboard  ;
	src:url(../static/dist/fonts/House_Whiteboard_font_by_callsignKateJones.ttf);
}

body{
	background-image:url(../static/paper.jpg);
	padding-bottom: 70px; /*For navbar alignment*/
}

div{
	border: none;
}
.margin-down{
	margin-bottom: 20px;
}
.left-align{
	text-align: left;
}

.red{
	background-color: #c43c35;
}
.font-size-200{
	font-size: 200%;
}
.font-size{
	font-size:14px;

}
.popular_stories{
	margin-left:10px;
}
.my_nav_adjustment{
	position:relative;
	left:0px;
	right:0px;
	display:block;
}

.main_story{
	color: #000800;
	font-size: 15px;
}
.margin-up-like{
	margin-top:40px;
}
.left_zero_padding_main_content{
	padding-left:0px;
}
.right_zero_padding_like{
	padding-right:0px;
}
.like_align_centre{
	background-position:center;
}
.bluish_black{
	color:#03033b;
}
.promoted_tags{
	display:inline-block;
	margin:0 5px 5px 0;
	padding-right:10px;
	color:#999;
	font-size:16px;
	
}
.recent_tags{
	display:inline-block;
	margin:0 5px 5px 0;
	padding-right:10px;
	color:#999;
	font-size:15px;
}
a.active_tag{
	font-size:18px;
	color:#2a6496	
}
.tag_box{
	
	/*horizental offset, vertical offset, blur radius, Spread distance,   */
	-moz-box-shadow: 1px 1px 1px  2px #cbc5c5;
	-webkit-box-shadow:1px 1px 1px  2px #d1cfcf;
	box-shadow:1px 1px 1px  2px #d1cfcf;
	
}

.pin_2{
	position:relative;
	top:19px;
	z-index:1;
	margin-left:128px;
	padding-top:0px;
}
h5.bluish_black{
	position: relative;
	z-index: -1;
	padding-left: 0px;
	padding-top: 6px;
}
.nav_bottom{
	min-height:45px;
}
.logo{
	font-family:Whiteboard;
	font-size:30px;
	font-stretch:expanded;
}

.submit_search_btn{
	border-radius:0 3px 3px 0;
	background-color:#333;
	border:none;
	margin-top:5px;
	max-height:30px;
	color:#999 ;
}
.submit_search_btn:hover{
	background-color:#222 !important;
	color:#fff;
	border:#333;
	border-radius:3px !important;
}

.search{
	padding-right:0px;
	max-height:30px;
	width:300px !important;
	max-width:300px !important;
	border:none !important;
	border-radius:3px 0px 0px 3px!important;
	background-color:#333;
	margin-top:5px;
	color:#FFF;
	
}
/*Compatibilty for search text on hover*/
.search:focus::-webkit-input-placeholder{
	color:#fff;
}
.search:focus::-moz-placeholder{
	color:#fff;
}
.search:focus:-moz-placeholder{
	color:#fff;
}
.search:focus:-ms-input-placeholder{
	color:#fff
}
.search:focus{
	border:none;
	box-shadow:none;
	border-color:transparent;
	-webkit-box-shadow:inset 0 1px 1px #444,0 0 1px #444;
}
/*Search ENds here */
.hash_comment{
	
	margin-top:12px;
	width:300px;
	margin-right:30px;
	max-height:30px !important;
	border:none ;
	
}
.hash_comment_group{
	max-height:30px !important;
	vertical-align:central !important;
	width:300px !important;
	max-width:300px !important;
	color:#b2b3c0;
	border:none;
}


/*Setting Focus compatiblity issue for placeholder */	
.hash_comment_group:focus{
	border:none;
	box-shadow:none;
	border-color:transparent;
	-webkit-box-shadow:inset 0 1px 1px #444,0 0 1px #444;
	-moz-box-shadow:inset 0 1px 1px #444,0 0 1px #444;
}
.hash_comment_group:focus::-webkit-input-placeholder{
	color:#fff;
}	
.hash_comment_group:focus::-moz-placeholder{
	color:#fff;
}
.hash_comment_group:focus:-moz-placeholder{
	color:#fff;
}
.hash_comment_group:focus:-ms-input-placeholder{
	color:#fff;
}



.hash_tag_submit{
	background-color:#333;
}
.hash_tag_corner{
	background-color:#333;
	font-size:18px;
	margin-right:1px;
}
.hash_tag_corner:hover{
	color:#fff;
}
p{
	text-align:justify;
}
.center_text{
	text-align:center !important;
}
.custom_lead{
	font-size:16px !important;
	font-weight:bold;
	color:#777;
	
}
.custom_heading{
	font-weight:bold;
	color:#333;
}
.trending_tags{
	text-align: left justify !important;
}
.block{
	display:block;
}
a.glyphicon.glyphicon-fire{
	font-size:18px !important;
	line-height:1.23;
}

.list_menu{
	display:none;
	position:fixed;
	top:35px;
	right:0px;
	bottom::0px;
	z-index:1;
	background-color:#222;
	width:200px;
}
.list-group{
	height:900px ;
	border-radius:6px 0 0 0 !important;
	-webkit-box-shadow: 0px 2px 1px 1px #777;
	-moz-box-shadow: 0px 2px 1px 1px #777;
	border:#000 !important;
	opacity:0.95;
}
a.list-group-item{
	background-color:#222;
	color:#777;
	border-color:#333;
}

a.list-group-item:hover{
	color:#fff;
	background-color:#222;
	border-color:#333;
}
a.list-group-item.active{
	color:#fff;
	background-color:#222;
	border-color:#333;
}
a.list-group-item.active:hover{
	color:#fff;
	background-color:#222;
	border-color:#333;
}
.badge{
	color:#777;
	background-color:#333;
}
a.list-group-item:hover>.badge{
	color:#fff;
}

.news_box{
	margin-bottom: 3px;
}
.most_rated_pin{
	position:relative;
	top:10px;
	z-index:1;
	margin-left:115px;
	padding-top:0px;
}
.label_block{
	display:inline ;
}
.margin-left{
	margin-left:10px !important;
}

textarea.form-control{
	
}
/*Setting for modal*/
div.modal{
	
}
.heading_edit_box{
	height:40px;
	margin-bottom:10px;
}
.text_box{
	margin-top:7px;
	
}
.alert_box{
	display:none;
	margin-bottom:0px;
}
.modal-body{
	padding-top:10px;
}
.heading_font{
	font-size:17px;
	color:#333;
	font-weight:bold;
}



@media(max-width:361px){ 
	.list-group{
		height:auto;
		border-radius:6px 0 0 0 !important;
		-webkit-box-shadow: 0px 2px 1px 1px #777;
		-moz-box-shadow: 0px 2px 1px 1px #777;
		border:#000 !important;
	}
}
@media(max-width:768px){
	.list-group{
		margin-top:50px;
		z-index:4;
		overflow:visible;
	}
	a.list-group-item.active{
		color:#fff;
		background-color:#222;
		border-color:#333;
	}
	a.list-group-item.active:hover{
		color:#fff;
		background-color:#222;
		border-color:#333;
	}
	.navbar-fixed-bottom{
		z-index:2;
	}
}
